/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
}

.galerie {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.galerie img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}

#contact > *,
#login-section > * {
  text-align: center;
}
#contact h2,
#login-section h2 {
  margin-bottom: 20px;
}
#contact form,
#login-form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#login-form input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login-form label {
  margin: 2em 0 1em 0;
}
#contact textarea,
#login-form textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"],
button[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Modification css projet */

body {
  background-color: #fffef8;
}

footer {
  background-color: #ffffff;
}

.admin-bandeau {
  display: none;
  box-sizing: border-box;
}

.admin-bandeau.edition-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  max-width: 100%;
  background-color: black;
  color: white;
  padding: 20px 0;
  margin: 0 auto;
  gap: 15px;
}

.filtres {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 60px 0;
}

button {
  border-radius: 60px;
  border: 1px solid #1d6154;
  background-color: #fffef8;
  color: #1d6154;
  text-align: center;
  font-size: 16px;
  font-family: "Syne";
  font-weight: 700;
  flex-shrink: 0;
  padding: 9px 20px;
}
.active {
  background-color: #1d6154;
  color: #fff;
}

#login-section {
  width: 33%;
  margin: auto;
}

nav li a {
  text-decoration: none;
  color: inherit;
}

nav li a:hover {
  font-weight: 600;
}

.loginBold {
  font-weight: 600;
}

.lien-generer-mdp {
  color: #3d3d3d;
  display: block;
  text-align: center;
}

#error-message {
  color: red;
  margin-top: 15px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title.edition {
  margin-bottom: 80px;
}

#btnEdition {
  margin-left: 40px;
}

.btnEdition {
  border: none;
  background: url("/FrontEnd/assets/icons/icone-modifier.svg") no-repeat left
    center;
  background-size: 16px;
  padding-left: 24px;
  cursor: pointer;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 630px;
  height: 688px;
  margin: auto;
  gap: 5px;
}

.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 420px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  justify-self: left;
  cursor: pointer;
}

.title-modal {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #000;
  margin-top: 60px;
  margin-bottom: 40px;
}
.modal-figure {
  position: relative;
  padding: 4.5px 4.5px 22px 4.5px;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #000;
  border-radius: 2px;
  padding: 0;
  position: absolute;
  z-index: 2;
  right: 7px;
  top: 9px;
  cursor: pointer;
}

.delete-btn img {
  width: 9px;
  background-color: #000;
  padding: 3px 4px;
  border-radius: 2px;
}

.modal-img {
  width: 78px;
}

.modal-separator {
  width: 420px;
  height: 1px;
  background-color: #b3b3b3;
  margin: 40px auto;
}

.add-project-btn {
  background-color: #1d6154;
  color: #fff;
  width: 237px;
  height: 36px;
  margin: 40px auto 20px auto;
  cursor: pointer;
}

#add-project-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  /* text-align: left; */
  background-color: #e8f1f6;
  border-radius: 8px;
}

/* #add-project-form label {
  text-align: left;
} */

.custom-file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-picture {
  cursor: pointer;
  border-radius: 50px;
  background: #cbd6dc;
  border: none;
  font-size: 14px;
  height: 36px;
  margin: 10px 0;
}

.custom-file-upload .upload-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.image-upload-container input[type="file"] {
  display: none;
}

.image-upload-container p {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}
