#login-section > * {
  text-align: center;
}

#login-section {
  max-width: 1140px;
  margin: 50px auto;
}

#login-section h2 {
  margin-bottom: 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 30px;
  max-width: 530px;
  margin: 0 auto;
}

#login-form input {
  height: 50px;
  width: 379px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login-form textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.loginBold {
  font-weight: 600;
}

button[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  margin: 40px auto;
}

.lien-generer-mdp {
  color: #3d3d3d;
  display: block;
  text-align: center;
}

#error-message {
  color: red;
  margin-top: 15px;
}
